.headers{
	background-image: url("/src/Images/background_home.png"); /* The image used */
    height: 300px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    width: 100%;
    padding: 20px 5px;
    margin-bottom: 10px;
}

.img-icon-1{
    width: 22%;
}

.img-icon-2{
    width: 20%;
    margin-right: 10px;
}

.text-right{
    text-align: right;
}

.text-left{
    text-align: left;
}

.img-icon{
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.card{
    padding-top: 30px;
    padding-bottom: 10px;
    border-radius: 20px;
    height: 150px;
}

.card:hover{
    background-color: #D6ECFF;
}

.text-icon{
    font-size: 13px;
    text-align: center;
}

.content-service{
    margin-top: 20px;
}

.icon-next{
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 70px;
}

.img-result{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}